

/*MENU*/
 #menu{ background-color: #f8f8f8; border-bottom:1px solid #e5e5e5; float:left;line-height:normal;margin:0;padding:0;width:100%;}
 #menu li.maintab{float:left;height:29px;list-style:none;margin:0 1px 0 0;list-style:none;display:block; border-left:1px solid #fff; border-right:1px solid #ccc;}
 #menu li:first-child { margin-left:15px;}
 #menu li.submenu_size .title{cursor:default;color:#000;display:block; padding:8px 6px 4px 0;font-weight:normal;font-size:12px;}
 #menu li.submenu_size .title{_display:inline;_padding:6px 5px 4px 0}
 #menu li{_height:32px;_padding-top:3px}
 #menu img{display:inline;padding:0 3px 0 6px; margin-top:-4px; vertical-align:middle;width:16px;height:16px}
 #menu li.active, #header #menu li:hover{background-position:0 -38px;white-space:nowrap;}
 #menu li.active a{}
 #menu li:hover, #header #menu li.active {background-color:#49B2FF;}
 #menu li.maintab:hover, #header #menu li.active {border-left:1px solid #49B2FF;border-right:1px solid #49B2FF;}
 #menu li.active span.title, #header #menu li:hover span.title {color:#fff; text-shadow: -1px -1px 0 #3293D6;}
 #menu .withLeftBorder{background:transparent url('../img/separator_subnav.png') no-repeat 0 5px}
 #menu .submenu{background:#f8f8f8;clear:both;margin:0;padding:0;border:1px solid #d9d9d9;z-index:9999; box-shadow: 1px 5px 5px #CCCCCC; -moz-box-shadow:1px 5px 10px #CCCCCC; -webkit-box-shadow:1px 5px 10px #CCCCCC;}
 #menu .submenu li{list-style:none;margin:0;padding:0;display:block;min-width:150px;}
 #menu .submenu li a{ font-size:12px;display:block;padding: 5px 15px 5px 10px; color:#666666;border-top:1px solid #fff; border-bottom:1px solid #ccc;}
 #menu .submenu li a:hover { background-color:#eee; text-shadow:0 1px 0 #fff;}

